@import 'node_modules/@taiga-ui/core/styles/taiga-ui-local';

.t-m-1 {
  margin: 1rem;
}

.t-m-2 {
  margin: 2rem;
}

.t-mt-1 {
  margin-top: 1rem;
}

.t-mt-2 {
  margin-top: 2rem;
}

.w-30 {
  width: 30rem
}
